body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: darkslateblue;
    background-color: rgb(75, 104, 104)
}


.letters{
    font-size: 25rem;
    transition: color 1000ms;
    /* color: red; */
}