body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: darkslateblue;
    background-color: teal
}


.letters{
    font-size: 15rem;
    transition: color 1000ms;
    /* color: red; */
}