body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: darkslateblue;
    background-color: pink
}


.letters{
    font-size: 55rem;
    transition: color 1000ms;
    /* color: red; */
}